:root {
    --main-bg: #eaeaea;
    --main-transition: all 0.3s ease;
    --header-height: 80px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: unset;
}

.input {
    outline: none;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
}

.container {
    max-width: 1240px;
    margin: auto;
}

.row-flex {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    height: 75px;
    width: 100%;
}
.content {
    padding: 20px; 
    max-width: 800px; 
    margin: 0 auto; /* Giữa nội dung */
}

header {
    position: sticky; /* Để thanh header cố định khi cuộn */
    top: 0; /* Nằm ở vị trí đầu trang */
    left: 0;
    right: 0;
    background-color: var(--navBackground); /* Màu nền */
    padding: 10px 20px; /* Khoảng cách trong */
    border-bottom: 2px solid var(--ks-border-color-main); /* Đường viền dưới */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Bóng đổ nhẹ */
    transition: transform 0.2s ease; /* Hiệu ứng chuyển động mượt mà */
    z-index: 1000; /* Để nằm trên các phần tử khác */
}

.header-logo {
    margin-right: 20px; 
}

.header-nav {
    flex-grow: 1;
    display: flex;
    justify-content: center; 
}
.header-nav ul {
    list-style: none; /* Không có dấu đầu dòng */
    display: flex; /* Hiển thị theo hàng */
    gap: 20px; /* Khoảng cách giữa các mục */
}
.header-nav a {
    text-decoration: none; /* Không gạch chân */
    color: var(--menuTextColor); /* Màu chữ */
    font-weight: bold; /* Chữ đậm */
}

.header-nav a:hover {
    color: var(--menuHoverColor); /* Màu chữ khi hover */
}

.header-nav nav ul {
    display: flex;
    column-gap: 20px;
}

.header-nav nav ul li {
    transition: var(--main-transition);
    cursor: pointer;
    padding: 15px 0px;
}

.header-nav nav ul li a {
    line-height: 60px;
    font-size: smaller;
    display: block;
    margin:0px 10px 0px 10px;
}

.header-nav nav ul li:hover {
    background-color: var(--main-bg);
}

.header-search {
    position: relative;
    margin: 20px; 
}

.header-search {
    position: relative;
    margin-left: 20px; 
}

.header-search input {
    height: 30px;
    border: 1px solid #a8a8a8;
    padding-left: 30px; 
    border-radius: 15px;
    line-height: 30px; 
}

.header-search i {
    position: absolute;
    left: 10px; 
    top: 50%; 
    transform: translateY(-50%); 
    cursor: pointer;
    font-size: 1em; 
}

.header-cart,
.header-account {
    font-size: larger;
    cursor: pointer;
    margin-left: 20px; 
}
/*----slider----*/
.slider {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.slider-items {
    display: flex;
    transition: left 1s ease-in-out;
    position: relative;
    width: 100%;
    height: 100%;
}

.slider-item {
    min-width: 100%;
    flex-shrink: 0;
    aspect-ratio: 16 / 9; 
    opacity: 0; 
    transition: opacity 0.1s ease-in-out; 
}

.slider-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slider-item.active {
    opacity: 1; 
}
/*----------------------------mũi tên---------------------------*/
.slider-arrow {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    z-index: 10;
    opacity: 0; 
    transition: opacity 0.5s; 
}

.slider:hover .slider-arrow {
    opacity: 1; 
}

.slider-arrow i {
    font-size: 1rem;
    color: #fff;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 8px;
    border-radius: 50%;
    transition: background-color 0.3s, transform 0.3s;
}

.slider-arrow i:hover {
    background-color: rgba(0, 0, 0, 0.8);
    transform: scale(1.1);
}
/*----------------------------slogan.wellcome---------------------------*/
.welcome-section {
    background-color: #f6f9ff; 
    padding: 40px 20px; 
    text-align: center;

}
.welcome-title {
    font-size: 2em; 
    margin-bottom: 20px; 
    color: #333; 
    
}

.welcome-text {
    font-size: 1.2em; 
    line-height: 1.5; 
    color: #555; 
    max-width: 1000px;
    margin: 0 auto;
}
.online-text {
    color: #477cd1; 
    font-weight: bold; 
}
/*----------------------------APP---------------------------*/
.app-comtainer{
    text-align: center;
    align-items: center;
    padding: 50px 0 70px 0;
}
.app-google{
    margin: 20px;
}
.app-google img{
    height: 35px;
    cursor: pointer;
}
.app-comtainer p {
    line-height: 20px;
    letter-spacing: 1px;
    font-size: 17px;
    color: #000;
    font-weight: bold;

}
.app-comtainer input{
    margin-top: 40px;
    border: none;
    border-bottom: 1px solid #000;
    padding-bottom: 10px;
    width: 400px;
    text-align: center;
    outline: none;
}
/*----------------------------footer---------------------------*/
footer{
    text-align: center;
}
.footer-top{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    height: 50px;
}
.footer-top img{
    height: 50px;
}
.footer-top li{
    padding: 0 12px;
    position:relative ;
}
.footer-top li::after{
    content:"";
    display: block;
    width: 1px;
    height: 80%;
    background: #ccc;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.footer-top li:last-child::after{
    display: none;
}
.footer-top li:last-child a {
    margin-right: 10px;
    color: #333;
}
footer p span{
    font-weight: 12px;
    color: #333;
}
.footer-center{
    text-align: center;
}
.footer-bottom{
    margin: 20px;
    text-align: center;
}
